* {
  font-family: sans-serif;
}

.TODO-list button {
  background-color: #002584; /* Green */
  border: none;
  color: white;
  padding: 10px;
  margin: 0px 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.TODO-list button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.add-area {
  background-color: rgb(163, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.add-area input {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin: 10px auto;
  /* Only take up as much space as needed */
  justify-content: center;
}

.add-area button {
  justify-content: center;
  margin: 10px auto;
}

.unifinished-area,
.finished-area {
  background-color: rgb(163, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.unifinished-area button,
.finished-area button {
  margin-top: -5px;
}

.list-row {
  display: flex;
  justify-content: center; /* This centers the li and button elements inside the ul horizontally */
  padding: 0; /* Removes the default padding */
  margin: 10px;
  list-style: none; /* Removes the default list item indicators */
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 0px;
  font-weight: 600;
}
